<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Default route index</title>
</head>
<body>
    <h2>INSECURE PAGE!  anyone can see this page, no login required</h2>
    <h3 th:text="${message}"></h3>


    <span>creates ROLE_USER: jim/pass and bob/pass and creates ROLE_ADMIN: admin/pass</span><br/>
    <a href="/setuprolesandusers">Wipe tables and Create 2 roles and 3 users /setuprolesandusers</a>
    <br/>
    <a href="/secure">GOTO a secure page /secure (requires admin login)</a>
    <br/>
    <a href="/userpage">GOTO a normal user page /userpage (requires user login)</a>
    <br/>
    <a href="/register">register a new user /register (but first MUST CREATE ROLES ABOVE)</a>

</body>
</html>